[Desktop Entry]
Name=12term
Type=Application
GenericName=Terminal
Comment=work in progress terminal
Exec=12term
Categories=System;TerminalEmulator;
Icon=12term
